* {
  margin: 0;
  padding: 0;
  font-family: Gotham, Avenir, 'Open Sans';
  color:#ffff
}

:root {
  --headerGradient: linear-gradient(to left, rgb(128, 128, 128), rgb(173, 125, 125));
  --bannerTextColor: pink;
}

header {
  background-image: var(--headerGradient);
  background-size: 100vw 19%;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100vw;
  height: 200px;
  display: flex;
}

header .blackbox {
  background-color: black;
  width:100vw;
  height: 81%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .blackbox h1, h2{
  background-image: var(--headerGradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blackbox {
  display: flex;
}

nav {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
}

body, main {
  background-color: rgb(52, 71, 88);
  height: auto;
}

section {
  padding: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 30px;
}

section p {
  width: 25vw;
  font-size: 16pt;
}

#portrait {
  width: 25vw;
  border: 10px solid rgb(107, 107, 107);
}

.Bio, .Portfolio {
  margin: 0px 200px;
  border-bottom: 10px solid rgb(107, 107, 107);
}

#featuredProject {
  border: 10px solid rgb(107, 107, 107);
  background-image: url(./screencap-deployed.png);
  background-position: center;
  background-size: cover;
  height: 600px;
  width: 500px;
  position: relative;
}

#project2, #project3, #project4 {
      border: 10px solid rgb(107, 107, 107);
      background-position: 45% 38%;
      background-size: 600px;
      height: 170px;
      width: 300px;
      position: relative;
}

#project2 {
  background-image: url(./img-1.jpg);
}
#project3 {
  background-image: url(./img-2.jpg);
}
#project4 {
  background-image: url(./img-3.jpg);
}


.otherProjectSect {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.inCardText {
  background-color: rgb(107, 107, 107);
  display: flex;
  position: absolute;
  bottom: 12%;
  width: fit-content;
  padding-right: 10px;
  padding-top: 5px;
  color: rgb(249, 207, 214);
}

#Contact {
  padding: 20px 0px;
}

.contactMethods {
  height: 40vh;
  display: grid;
  grid-template-columns: 50% 50%;
}

.contactMethods p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactMethods p a {
  height: fit-content;
}
/* add hover pseudos */
/* add screen size pseudos */

footer {
  height: 125px;
  background-image: var(--headerGradient);
  border-top: 19px solid transparent;
  position: relative;
  bottom: 0px
}

.blackboxfoot {
  background-color: black;
  height: 100%;
  display: flex;
  justify-content: center;
}

footer .blackboxfoot
h3 {
  background-image: var(--headerGradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 768px) {
  * {
    flex-direction: column;
  }


  header, nav {
    width: 100%;
    align-items: center;
  }
  
  section {
    padding: 30px;
  }

  #Bio p{
    margin: 10px;
    width: 90vw;
  }
  
  footer .blackboxfoot {
    align-items: center;
  }
}




